.NavBar-container {
    display: flex;
    flex-direction: row;
    padding: 20px;
    align-items: center;
    gap: 350px;
}

.NavBar-logo {
    width: 100px;
    min-width: 100px;
}

.NavBar-container hr {
    position: absolute;
    border: 1px solid #e6e6e6;
}


.NavBar__SearchBar-container {
    position: relative;
    margin-left: auto;
}

.NavBar__SearchBar-container input {
    background-color: #f6f7f8;
    width: 600px;
    height: 40px;
    border-radius: 5px;
    padding-left: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    outline: none;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

.NavBar__SearchBar-container input:focus {
    outline: 2px #763f98 solid;
}

.NavBar__SearchBar-container input::placeholder {
    color: black;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

.NavBar__SearchBar-container img {
    position: absolute;
    width: 25px;
    right: 10px;
    top: 8px;
    pointer-events: none;
}

.NavBar__SearchBar-container input:focus + img {
    opacity: 0%;
}

.NavBar__Buttons {
    margin-left: auto;
    border-radius: 20px;
    width: 100px;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    background-color: #f6f7f8;
}


.NavBar__Button-Cart {
    display: flex;
    gap: 10px;
    width: 100px;
    padding: 10px 10px
}

.NavBar__Buttons:hover {
    outline: 1px #763f98 solid;
}

.NavBar__Button-Cart > img {
    width: 20px;
    min-width: 20px;
}
